.modal {
    display: none;
    flex-direction: row-reverse;
    margin-right: 2px;
    gap: 2px;
    flex-wrap: wrap;
    position: absolute;
    right: 0;
    top: var(--sz-menu-height);
    width: 100%;
    max-width: max-content;
    /* background-color: var(--clr-light); */
    border: 2px solid var(--clr-light);
    border-radius: 4px;
    /* box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px; */
    z-index: 10;
}

.color {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-icon);
    width: max-content;
    padding: 0 5px;
    height: 20px;
    /* border: 3px solid rgba(0, 0, 0, 0.1); */
    font-family: 'Source Sans Pro';
    font-size: 0.85rem;
    border-radius: 3px;
    /* box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 10px; */
}

.color:hover {
    cursor: pointer;
}

.c1 {
    /* background-color: paleturquoise; */
    background-color: var(--clr-note1);
}

.c1::before {
    content: 'orange';
}

.c2 {
    /* background-color: skyblue; */
    background-color: var(--clr-note2);
}

.c2::before {
    content: 'yellow';
}

.c3 {
    /* background-color: pink; */
    background-color: var(--clr-note3);
}

.c3::before {
    content: 'green';
}

.c4 {
    /* background-color: palegoldenrod; */
    background-color: var(--clr-note4);
}

.c4::before {
    content: 'blue';
}

.c5 {
    /* background-color: lightgreen; */
    background-color: var(--clr-note5);
}

.c5::before {
    content: 'purple';
}

.c0 {
    background-color: var(--clr-light);
}

.c0::before {
    content: 'white'
}

.fa-check {
    pointer-events: none;
}
