.note {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 300px;
    height: 300px;
    border-radius: 7px;
    /* box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 5px; */
    background-color: var(--clr-light);
    /* overflow: hidden; */
}

.menu-container {
    display: flex;
    justify-content: center;    
    position: absolute;
    top: 0;
    height: var(--sz-menu-height);
    width: 100%;
    background-color: transparent;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    /* border-bottom: var(--sz-border) solid var(--clr-dark); */
}

.menu {
    height: var(--sz-menu-height);
    width: calc(100% - (var(--sz-menu-height) + var(--sz-option-width)));
}

.menu:hover {
    cursor: grab;
}

.close {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: var(--sz-menu-height);
    color: var(--clr-icon);
    /* background-color: var(--clr-dark); */
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 25px;
    right: 0;
    top: 0;
    color: var(--clr-icon);
    height: 100%;
}

.close:hover, .options:hover {
    cursor: pointer;
    color: var(--clr-text);
}

.text {
    position: absolute !important;
    top: var(--sz-menu-height);
    width: 100% !important;
    height: calc(100% - var(--sz-menu-height)) !important;
    outline: none !important;
    border: none !important;
}

.resize {
    position: absolute;
    bottom: 0;
    right: 0;
    width: var(--sz-resize);
    height: var(--sz-resize);
    border-left: var(--sz-border) solid var(--clr-dark);
    border-top: var(--sz-border) solid var(--clr-dark);
}

.resize:hover {
    cursor: se-resize;
    border-color: var(--clr-text);
}


/* .text {
    position: absolute !important;
    top: var(--sz-menu-height);
    width: 100% !important;
    height: calc(100% - var(--sz-menu-height)) !important;
    resize: none;
    background-color: transparent;
    color: var(--clr-text);
    padding: 8px;
    outline: none !important;
    border: none !important;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    z-index: 1;
} */

/* textarea::-webkit-scrollbar {
    width: 2px;
}

textarea::-webkit-scrollbar-track {
    background-color: transparent;
}

textarea::-webkit-scrollbar-thumb {
    background-color: var(--clr-dark);
} */