*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-light: rgba(255, 255, 255, 1); /*#111 DARK MODE, NO SHADOW*/
    --clr-dark: rgba(0, 0, 0, 0.9);
    --clr-text: rgba(0, 0, 0, 1);
    --clr-bg: #f2f2f2; /*#222 DARK MODE*/
    --clr-shadow: rgba(0, 0, 0, 0.15);
    --clr-icon: rgba(0, 0, 0, 0.9);
    --sz-menu-height: 22px;
    --sz-resize: 10px;
    --sz-border: 2px;
}

body {
    background-color: var(--clr-bg);
}

main {
    height: 100vh;
    width: 100vw;
}

.board {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
}

canvas {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
}

.note {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 300px;
    height: 300px;
    /* border: var(--sz-border) solid var(--clr-dark); */
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 10px;
    background-color: var(--clr-light);
    overflow: hidden;
}

.menu {
    position: absolute;
    top: 0;
    height: var(--sz-menu-height);
    width: 100%;
    background-color: transparent;
    /* border-bottom: var(--sz-border) solid var(--clr-dark); */
}

.menu:hover {
    cursor: grab;
}

.close {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: var(--sz-menu-height);
    color: var(--clr-icon);
    /* background-color: var(--clr-dark); */
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 25px;
    right: 0;
    top: 0;
    color: var(--clr-icon);
    height: 100%;
}

.options:hover {
    cursor: pointer;
}

.close:hover {
    cursor: pointer;
}

.text {
    position: absolute;
    top: var(--sz-menu-height);
    width: 99%;
    height: calc(100% - var(--sz-menu-height));
    resize: none;
    background-color: transparent;
    color: var(--clr-text);
    padding: 8px;
    outline: none;
    border: none;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

textarea::-webkit-scrollbar {
    width: 2px;
}

textarea::-webkit-scrollbar-track {
    background-color: transparent;
}

textarea::-webkit-scrollbar-thumb {
    background-color: var(--clr-dark);
}

.resize {
    position: absolute;
    bottom: 0;
    right: 0;
    width: var(--sz-resize);
    height: var(--sz-resize);
    border-left: var(--sz-border) solid var(--clr-dark);
    border-top: var(--sz-border) solid var(--clr-dark);
}

.resize:hover {
    cursor: se-resize;
}

.modal {
    display: none;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    position: absolute;
    right: 0;
    top: var(--sz-menu-height);
    width: 100%;
    max-width: max-content;
    background-color: transparent;
    z-index: 100;
}

.color {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-icon);
    width: 30px;
    height: 30px;
}

.color:hover {
    cursor: pointer;
}

.c1 {
    background-color: paleturquoise;
}

.c2 {
    background-color: cornflowerblue;
}

.c3 {
    background-color: lightgreen;
}

.c4 {
    background-color: palegoldenrod;
}

.c5 {
    background-color: pink;
}

.c0 {
    background-color: var(--clr-light);
}

.fa-check {
    pointer-events: none;
}

.selection {
    position: absolute;
    background-color: rgba(135, 206, 250, 0.3);
    pointer-events: none;
    height: 0px;
    width: 0px;
    z-index: 100;
}

.empty-msg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(0, 0, 0, 0.3);
    font-family: 'Roboto', sans-serif;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.25s linear;
    pointer-events: none;
}